/* header */

header {

    text-align: center;
    height: 220px;
    border-bottom: solid 2px navy;
    background: linear-gradient(to bottom,rgba(0, 238, 255, 0.753), rgb(255, 255, 255));
}


.logo {
   font-family: 'Roboto Condensed', sans-serif;
   color: navy;
   font-size: 70px;
   font-weight: bold;
}

.logo:hover {
    color: rgb(0, 79, 182);
    text-decoration: none;
     }


.logo-position {
    padding-top: 30px;
    padding-bottom: 20px;
}

.header-link{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: navy;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    
}


.header-link:hover {
    color: rgb(0, 79, 182);
    text-decoration: none;
     }

.nhs-logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}

.opening-times {
    position: absolute;
    margin-top: 15px;
    padding-left: 1050px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    color: grey;
}

/* footer  */

footer {
    text-align: center;
    height: 150px;
    background: linear-gradient(to top,rgb(255, 255, 255), rgba(0, 238, 255, 0.753));
    border-top: 2px solid navy;
}

.footer-title {
    font-family: 'Raleway', sans-serif;
     color: navy;
    font-size: 20px;
    padding-top : 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.contact-footer h6 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.socials-list, .downloads-list {
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.footer-link:hover {
    color: rgb(0, 79, 182);
}

/* main section */

.main-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-list {
    font-family: 'Raleway', sans-serif;
    padding-top: 90px;
    list-style-type: none;
    font-weight: bold;
 
   
}
.fa-clipboard-check {
    font-size: 30px;
    color: navy;
}

.main-list-item { 
 padding-top: 20px;
    font-size: 15px;
    color: navy;
    font-style: italic;
    font-weight: bold;
    
   
}

.dl-link{
    padding-top: 15px;
    margin-left: 50px;
}

.nhs-service {
    position: absolute;
    right: 10%;
}

/* steps */

.steps {
    list-style-type: none;
    text-align: center;
    
    padding-top: 30px;
   
    
}

.steps-section {
background-image: linear-gradient(to top,rgba(0, 238, 255, 0.753), rgb(255, 255, 255));
border-top: 5px solid navy;
}

.steps-title {
    color: navy;
    text-align: center;
     font-family: 'Roboto Condensed', sans-serif;
     padding-top: 50px;
     font-weight: bold;

}

.steps-individual {
    border: 3px ridge navy;
    margin-bottom: 30px;
    color: navy;
    font-family: 'Raleway', sans-serif;
    padding: 30px;
    font-weight: bold;
}

.show-me-1, .show-me-2, .show-me-3, .show-me-4 {
    display : none;
    width:300px;
    height:236px;
    vertical-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.step-title {
 font-size: 20px;
 padding-top: 20px;
 font-weight: bold;
}

/* FAQs page */

.faqs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top,rgba(0, 238, 255, 0.753), rgb(255, 255, 255));
}

.faqs-title {
     font-family: 'Raleway', sans-serif;
     color: navy;
     text-align: center;
     font-size: 30px;
     padding-bottom: 30px;
     font-weight: bold;
}

.question {
    font-size: 25px;
    color: navy;
     font-family: 'Raleway', sans-serif;
     border-bottom: solid 2px rgba(3, 3, 3, 0.473);
     padding-bottom: 10px;
     cursor: pointer;
     font-weight: bold;
}
.answer {
    display: none;
    font-size: 15px;
     font-family: 'Raleway', sans-serif;
     color: black;
     font-weight: bold;
}

.faqs-item {
    padding-top: 15px;
    padding-bottom: 15px;
}