header {
    background-color: rgba(33, 19, 54, 0.753);
    text-align: center;
    height: 220px;
    border-bottom: solid 2px white;
    background: linear-gradient(to bottom,rgba(33,19,54,0.753),rgb(100, 0, 100));
}


.logo {
   font-family: 'Roboto Condensed', sans-serif;
   color: rgb(11, 216, 62);
   font-size: 70px;
}

.logo:hover {
    color: white;
    text-decoration: none;
}

.logo-position {
    padding-top: 30px;
}

.link{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: rgb(11, 216, 62);
}

.link:hover {
    color: grey;
    text-decoration: none;
     }

.nhs-logo {
    position: absolute;
    margin-top: 15px;
}